html {
	margin: 0;
	padding: 0;
    }
body {
    background-color: #202051;
    }
header {
    max-height: 20em;
    }
.header-pic {
    position:relative;
    height: auto;
    width: 100%;
    z-index: 1;
    }
footer {
    max-height: 20em;
    }
.footer-pic {
    position:relative;
    height: auto;
    width: 100%;
    z-index: 1; 
    }
/* this begins the meta container for the elements within*/
.metacontainer {
    display: grid;
    grid: 50% 50%;
    }
section {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 1em;
    padding-top: 0 em;
    border-color:yellow;
    border-style: dotted;
    border-width: 5px;
    }
.playerchoices {

}
.one {
    position:relative;
    top: 2em;
    width: 100%
    }
.meta-rock {
    position:relative;
    width: 20em;
    top: -13em;
    left: -12em;
    height: auto; 
    }
.input-rock {
    }
.rock {
    }
.span-rock {
    }*/
.paper {
    position:relative;
    width: 20em;
    top: -12em;
    left: -4em;
    height: auto;
    }
.scissors {
    position:relative;
    width: 20em;
    top: -10em;
    left: -9em;
    height: auto;
    }
.input-rock {
    position:relative;
    left: -28em;
    top: -25em;
    }
.input-paper {
    position:relative;
    left: -18em;
    top: -26em;
    }
.input-scissors {
    position:relative;
    left: -23em;
    top: -23em;
    }
    /*styling begins for the game console element of
    the page*/

.game-console {
    display: relative;
    grid-template-rows: 20em 10em 30em 20em;
    color:violet;
    border-color: turquoise;
    border-style: dotted;
    border-width: 10px;
    }

.consol.body {
    position:relative;
    width: 200em;
    top: -13em;
    left: -2222em;
    height: auto;

}
.function {
    position:relative;
    border-radius: 160px;
    border-color: rgb(158, 23, 30);
    border-width: 5px;
    position:relative;
    width: 8.5em;
    top: 6em;
    left: 36em;
    height: 6.5em;
    background-color:transparent;

}
ul {
    display: grid;
    grid-template-rows: 10em 10em 10em;
    }
